@import '../../Scss/colors';
@import "bootstrap/scss/bootstrap";

nav {
    background-color: $mainBg !important;
    font-weight: 700;

    a{
        text-decoration: none;
        color: $secondTextColor;
    }
    .activeLink {
        color: $mainTextColor;
    }

    .head{
        font:{
            family: "MuseoModerno", sans-serif;
            weight: 200;
        }
        text:{
            decoration: none;
            align: center;
        }
        h1{
            color: $mainTextColor;
            font-size: 70px;
            border-bottom: 1px solid $mainTextColor;
            padding-bottom: 10px;
        }
        p{
            color: $mainTextColor;
            font-size: 20px;
        }
    }
    
    .links-right{
        .add-job{
            width: 75px;
            height: 25px;
            font:{
                weight:400;
                size:12px
            } ;
            text-align: center;
            border-radius: 5px;
            background-color: $secondBg;
            color: #FFFFFF;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
}

// responsive navbar
@media (max-width: 992px) {
    
    .head {
        
        h1{
            font-size: 45px;
        }

        p{
            font-size: 15px;
        }
    }
}
}

