@import '../../Scss/colors';

nav {
    background-color: $mainBg;

    a{
        text-decoration: none;
        color: $secondTextColor;
    }
    .activeLink {
        color: $mainTextColor;
    }

    .heading{
        h1,p{
            font-family: "MuseoModerno", sans-serif;
            color: $mainTextColor;
        }
        h1{
            font-size: 70px;
        }
        p{
            font-size: 20px;
        }
    }
    
    .links-right{
        .add-job{
            width: 75px;
            height: 25px;
            font-size:12px;
            background-color: $secondBg;
        }
    }

// responsive navbar
@media (max-width: 992px) {
    
    .heading {
        h1{
            font-size: 45px;
        }
        p{
            font-size: 15px;
        }
    }
}
}

