@import '../../Scss/colors';

footer{
    font-family: "Mukta Mahee" , sans-serif;
    color: $mainTextColor;
    h3{
        font-size: 60px;
        font-family: "MuseoModerno" , sans-serif;
    }
    a{
        text-decoration: none;
        color: $mainTextColor;
    }
    
    
    // responsive footer
    // mobile size
    @media (max-width: 767px) {
        .responsive-footer {
            h5 {
                font-size: 14px !important;
            }
            a,i {
                font-size: 12px !important;
            }
            h4{
                font-size: 21px !important;
            }
        }
}

    // tablet size
    @media (max-width: 992px) {
    
        .responsive-footer {
            h5{
                font-size: 16px;
            }
            a , i{
                font-size: 14px;
            }
            h4{
                font-size: 25px;
            }
            
        }
    }
}


