@import '../../../Scss/colors' ;

.login{

    .form{
        width: 480px;
        height: 500px;
        background-color: $mainBg;

        p{
            font-size: 12px;
        }

        .btn{
            background-color: $button;
        }

        .forget, .sign{
            color: $mainTextColor;
        }
        .sign{
            font-size: 12px;
        }

        .line{
            height: 1px;
            width: 107px;
            background-color: $mainTextColor;
        }

        .imgs{
            img{
                width: 30px;
            }
        }
    }
}

// mobile size
@media(max-width:767px){
    .login{
        .form{
            margin-top: 20px;
            width: 300px;
            height: 420px;

            p, .sign, span, .forget{
                font-size: 11px !important;
            }

            h4{
                font-size:large;
            }

            h5{
                font-size: small !important;
            }

            img{
                width: 50% !important;
            }

            .imgs{
                width: 50%;
                gap: 1rem !important;
                margin: 8px auto !important;
            }

            div {
                margin-bottom: 0.4rem !important;
                label{
                    font-size: smaller;
                }
                input{
                    font-size: smaller;
                }
            }

            button{
                font-size: smaller;
                margin-top: 10px;
            }
    }
    }
}

// tablet size
@media(min-width:768px) and (max-width:992px){
    .login{
        .form{
            width: 370px;
            height: 400px;

            p, .sign, span, .forget{
                font-size: 13px !important;
            }

            h4{
                font-size:large;
            }

            h5{
                font-size: medium !important;
            }

            img{
                width: 40% !important;
            }

            .imgs{
                width: 50%;
                gap: 1rem !important;
                margin: 5px auto 3px !important;
            }

            
            div {
                margin-bottom: 0.2rem !important;
                label{
                    font-size: smaller;
                }
                input{
                    font-size: smaller;
                }
            }

            button{
                font-size: smaller;
                margin-top: 6px;
            }
    }
    }
}

// 1024 size
@media(min-width:993px) and (max-width:1024px){

    .login{
        .form{
            width: 420px;
            height: 440px;

            p, .sign, span, .forget{
                font-size: 13px !important;
            }

            h4{
                font-size:large;
            }

            h5{
                font-size: large !important;
            }

            img{
                width: 40% !important;
            }

            .imgs{
                width: 50%;
                gap: 1rem !important;
                margin: 10px auto !important;
            }

            div {
                margin-bottom: 0.5rem !important;
                label{
                    font-size: medium;
                }
                input{
                    font-size: medium;
                }
            }

            button{
                font-size: medium;
                margin-top: 12px;
            }

            
        }
    }
}